/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/05/2022, 7:54:11 PM
    Author     : Kleanthis
*/

body {
    background: rgb(1,3,99);
    background: linear-gradient(90deg, rgba(1,3,99,1) 1%, rgba(8,50,115,1) 71%, rgba(0,31,162,1) 100%);
    color: white;
    font-family: 'Tauri', sans-serif;
}

.centerH{
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.viewProfile{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 5px solid #ddd;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    height: auto;
    padding: 10px;
    box-shadow: 8px 8px 10px #1e1e1e;
    background-color: #005183;
}

.viewProfile form{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/* Style inputs */
.viewProfile input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.viewProfile input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

.viewProfile label {
    font-size: 20px;
}

/* Style the submit button */
.viewProfile input[type=submit] {
    width: 50%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.viewProfile input[type=submit]:hover {
    background-color: #1e1e1e;
}

.navBar {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
    padding: 5px;
}

.navBar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid #7a7a7a;
    border-radius: 8px;
    transition: 0.3s;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

.navBar a.title {
    background-color: #333;
    color: white;
    float: left;
    margin: auto;
    width: 10%;
    display: block;
    font-size: 23px;
    height: 20px;
    border: none;
    text-decoration: none;
}

.error{
    color: red;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ddd;
    padding: 10px;
    box-shadow: 8px 8px 10px #1e1e1e;
    background-color: #005183;
}

/* Style inputs */
.login-container input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

.login-container label {
    font-size: 20px;
}

/* Style the submit button */
.login-container input[type=submit] {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
.login-container input[type=submit]:hover {
    background-color: #1e1e1e;
}

.index-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #ddd;
    padding: 10px;
    width: 25%;
    box-shadow: 8px 8px 10px #1e1e1e;
    background-color: #005183;
    border-radius: 5px;
}

.index-container label {
    font-size: 20px;
}

/* Style the submit button */
.index-container input[type=submit] {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
.index-container input[type=submit]:hover {
    background-color: #1e1e1e;
}

/* CSS for Products Table */

.productTable {
	padding-top:0px;
	border-spacing: 0px;
        table-layout: fixed;
        border: 2px solid;
         border-color: black;


}

/* table head */
.productTable thead tr th{
	padding: 15px;
	color: white;
	background-color: #374561;
	font-size:15px;

}


.productTable tbody tr td {
	padding: 15px;
        color: black;
	font-size: 13px;
        border: 1px solid #374561;

}

/* alternate row */

.productTable tr:nth-child(even) {
	background-color: #d3d3d3;
}
/* alternate row */

.productTable tr:nth-child(odd) {
	background-color: #d3d3d3;
}

.actionBtn {
    background-color: #1c54b5;
    padding: 10px;
    color: white;
    border: none;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
    font-family:Tauri;
}

.actionBtn:hover  {
	 background-color: #3d74d2;
}

.searchTextField {
	height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: Tauri;
}

.productTextField {
	height: 25px;
    border-radius: 5px;
    padding-left: 16px;
}



.SearchButtonP {
   padding: 12px 28px;
   margin-top: 10px;
   
}

.SearchButtonP:hover  {
	 background-color: #3d74d2;
}












/* Save Changes button for Edit Product Form */


.actionBtnEdit {
    background-color: #1c54b5;
    padding: 10px;
    color: white;
    border: none;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
}

.actionBtnEdit:hover  {
	 background-color: #3d74d2;
}











/* Edit Product Form */


.editform body {

	background: #384047;
	font-family: sans-serif;
	font-size: 10px
}

.editform form {
	background: #ededed;
	padding: 4em 4em 2em;
	max-width: 300px;
	margin: 70px auto 0;
	box-shadow: 0 0 1em #222;
	border-radius: 5px;
}

.editform p {
	margin: 0 0 3em 0;
	position: relative;
}

.editform label {
	display: block;
	font-size: 1.6em;
	margin: 0 0 .5em;
	color: #333;
}

/* Product field  */

.editform input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none
}


.editform input[type="text"],
input[type="password"] {
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	font-size: 1.6em;
	padding: .8em .5em;
	border-radius: 5px;
}

.editform input[type="text"]:focus,
input[type="password"]:focus {
	background: #fff
}

.left,

.right {
	border-radius: 5px;
	display: block;
	font-size: 1.3em;
	text-align: center;
	position: absolute;
	background: #2F558E;
	padding: 7px 10px;
	color: #fff;
}

.left {
	left: -60%;
	top: 18px;
	width: 200px;
}

.right {
	left: 105%;
	top: 25px;
	width: 160px;
}

.left:after,
.right:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: 50%;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 8px;
	margin-top: -8px;
}

.right:after {
	right: 100%;
	border-right-color: #2F558E;
}

.left:after {
	left: 100%;
	border-left-color: #2F558E;
}

.editform input[type="submit"] {
	background: #2F558E;
	box-shadow: 0 3px 0 0 #1D3C6A;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 2em;
	line-height: 1.6em;
	margin: 2em 0 0;
	outline: none;
	padding: .8em 0;
	text-shadow: 0 1px #68B25B;

tr {
   border: 2px solid #fff;

}

/* Search Form for Catalogue Page */

.searchForm body {
  font-family: Tauri;
}

.searchForm * {
  box-sizing: border-box;
}

.searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid grey;
  float: middle;
  width: 100%;
  background: #f1f1f1;
  font-family: Tauri;
}

.searchForm button {
  float: middle;
  width: 30%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  font-family: Tauri;
}

.searchForm button:hover {
  background: #0b7dda;
}

.searchForm ::after {
  content: "";
  clear: both;
  display: table;
}
